<style>
  .section2Container {
    margin-bottom: 20px;
  }

  .section2Container h1 {
    color: #058080;

  }

  .season2HeaderContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .section2Container p {
    font-family: evest font, sans-serif;
    font-size: 21px;
    line-height: 1.3;
    font-weight: bold;
    text-align: justify;
  }

  body {
    font-family: "Evest Med" !important;
  }

  .section1Container {
    background-image: url('/images/evestTalk/BG 3.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }

  .section1Holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1320px;
    gap: 11rem;
  }

  .setction1TextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: white;
    width: 400px;
  }

  .social-icons-container {
    margin-top: 30px;
  }

  .social-icons-container img {
    width: 30px;
    height: 30px;
  }

  .section1TextContainer h2 {
    color: #64EFE3;

  }

  .section1TextContainer h1 {
    color: #64EFE3;
    font-family: "Evest Med" !important;
    font-size: 3rem !important;
  }

  .micContainer {
    display: flex;
    position: absolute;
    bottom: -10rem;
    right: 47%;
    height: 350px;
    justify-content: center;
  }

  .reinHeading {
    font-size: 50px;
    font-family: 'Evest Med' !important;
  }

  .reinHeadinSecondParagraph {
    font-family: 'Evest Med';
    font-size: 35px;
  }

  .sectionDivider {
    width: 100%;
    height: 144px;
  }


  .allPageContentContainer {
    max-width: 1000px;
    margin: 0 auto;
  }

  .seciton1Text {

    font-family: 'Evest Med' !important;
    font-size: 1.3rem;
    color: var(--primary-color3);
  }

  .contentContainer {
    height: auto;
  }


  .contentRow {
    display: flex;
    justify-content: space-between;
    height: 268px;
    margin-bottom: 20px;
  }

  .contentRowVideo {
    border-radius: 10px;
    width: 48%;
  }

  .contentRowVideo video {
    border-radius: 10px;
  }

  .contentRowText {
    display: flex;
    border-radius: 10px;
    width: 48%;
    padding: 2rem;
    background-image: url('https://cdn.buttercms.com/ypfFvJR9RWKIHEjREN1g');
    background-repeat: no-repeat;
    -webkit-box-shadow: -1px 2px 27px -6px rgba(0, 0, 0, 0.13);
    box-shadow: -1px 2px 27px -6px rgba(0, 0, 0, 0.13);
  }

  .cardText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .cardImage img {
    width: 197px;
    object-fit: cover;
    height: 233px;
  }

  .contentRowText .cardName {
    margin-bottom: 0;
    font-size: 18px;
  }

  .contentRowText .host-title {
    margin-bottom: 0;
    font-size: 12px;
    color: var(--primary-color2);
  }

  .host-specialization {
    font-size: 11px;
    font-weight: bold;

    margin-bottom: 10px;
  }

  .regularFont {
    font-family: "Evest Font", sans-serif !important;
  }

  .cardInfo {
    font-size: 18px;
    max-width: 199px;
    font-weight: bold;

  }

  .sharingTime {
    font-size: 12px;
    color: #088080;
    margin-bottom: 0;
    font-weight: bold;
  }

  .question-para-link-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

  }

  .question-para-link-container h1 {
    max-width: 474px;
    color: var(--primary-color2);

  }

  .question-para-link-container>p {
    max-width: 651px;
  }

  .question-para-link-container button {
    background-color: var(--primary-color1);
    color: white;
    padding: 10px 2rem;
    border-radius: 10px;
  }

  .modal-content {
    background-color: #F7F7F7;
    border-radius: 10px;
  }

  .form-group {
    display: flex;
    justify-content: space-between;
  }

  .form-group2 {
    flex-direction: column;
  }

  .modal-content {
    max-width: 900px !important;
    width: 700px;
  }

  .modal-body input {
    padding: 7px;
    border: none;
    border-radius: 10px;
    min-width: 270px;
  }

  #two-labels {
    font-weight: bold;
  }

  .form-element {
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: bold;
    margin-top: 5px;
  }

  .textareaContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .textareaContainer textarea {
    border: none;
    border-radius: 10px;
    height: 100px;
  }

  .submitBtnContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  #submit-btn {
    color: white;
    font-weight: bold;
    background-color: var(--primary-color2);
    padding: 0.5rem 7rem;
    border: none;
    border-radius: 10px;
  }

  input::placeholder {
    font: 13px sans-serif;
  }

  .seperatorEvest {
    padding: 1rem;
    margin: 2rem 0;
    background: linear-gradient(90deg, rgba(67, 20, 92, 0.2721463585434174) 0%, rgba(233, 233, 233, 0.26094187675070024) 48%);
    color: #43145c
  }

  .seperatorEvest h5 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  @media only screen and (max-width: 1078px) {

    .sectionDivider {
      width: 100%;
      height: 45px;
    }

    .season2HeaderContainer img {
      width: 130px;
    }

    .season2HeaderContainer h3 {
      font-size: 22px;
      margin-bottom: 0;
    }


    .section1Holder {
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
    }

    .section1Container {
      padding-bottom: 1rem;
    }

    .reinContainer img {
      width: 300px;
    }

    .micContainer {
      bottom: 17rem;
      right: 59%;
      height: 174px;
    }

    .cardImage img {
      height: auto;
    }

    .setction1TextContainer {
      margin-top: 2rem;
      width: 262px;
      text-align: center;
    }

    .reinHeading {
      font-size: 33px;
      font-family: 'Evest Med';
    }

    .reinHeadinSecondParagraph {
      font-family: 'Evest Med';
      font-size: 23px;
    }

    .seciton1Text {
      font-size: 17px;
      font-weight: 100;
    }

    .section1TextContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .social-icons-container {
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 5px;
    }

    .social-icons-container img {
      width: 20px;
      height: 20px;
    }

    .allPageContentContainer {
      max-width: 100%;
      text-align: center;
      padding: 5px;
    }

    .section2Container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .section2Container h1 {
      width: 231px;
    }

    .section2Container p {
      font-weight: bold;
      font-size: 19px !important;
      padding: 10px 30px;
    }

    .contentRowText .cardName {
      font-size: 15px;
    }

    .contentRow {
      flex-direction: column-reverse;
      height: auto;
      padding: 10px;
      gap: 20px;

    }

    .contentRowText {
      width: auto;
      justify-content: space-between;
      padding: 13px;
      min-height: 204px;
    }

    .cardImage {
      display: flex;
      align-items: flex-end;
    }

    .cardInfo {
      font-size: 11px;
    }

    .host-specialization {
      font-size: 11px !important;

    }

    .sharingTime {
      font-size: 11px !important;
    }

    .cardImage img {
      width: 150px;

    }

    .contentRowVideo {
      width: auto;
    }

    .cardText {
      text-align: left;
    }

    #coming-soon-en {
      width: 350px;
    }

    .form-group {
      flex-direction: column;
    }

    .modal-content {
      width: auto;
      text-align: left;
    }

    #submit-btn {
      padding: 0.5rem 5rem;
    }

    .question-para-link-container {
      padding: 3rem;
    }

    .question-para-link-container h1 {
      font-size: 30px;
    }

    .separatorHolder {
      width: 91%;
      margin: 0 auto;
    }

    .seperatorEvest {
      padding: 0.5rem;
      margin: 2rem 0;
      background: linear-gradient(90deg, rgba(67, 20, 92, 0.2721463585434174) 0%, rgba(233, 233, 233, 0.26094187675070024) 48%);
      color: #43145c;
      width: 100%;
      text-align: left;

    }


    .seperatorEvest h5 {
      font-size: 1.1rem;
      margin-bottom: 0;
    }

  }
</style>

<head>
  <title>Evest Talk</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
    function onSubmit(token) {
      document.getElementById("evest-form").submit();
    }
  </script>
</head>

<div class="page-container">

  <div style="position:relative;">
    <div class="section1Container">

      <div class="section1Holder">

        <div class="setction1TextContainer">
          <!-- text  -->
          <div style="margin-top:20px;">
            <h3 class="reinHeadinSecondParagraph" style="text-align: justify;">Every thursday <br> at 19:00 PM KSA</h3>
            <div class="season2HeaderContainer">
              <img alt="logo" src="/images/asset 1 Logo.svg" id="heading-img" width="200px" />
              <h3 style="color: var(--primary-color3)"> - Season 2</h3>
            </div>
          </div>

          <div class="section1TextContainer">
            <h4 class="seciton1Text">With the famous media figure</h4>
            <img alt="logo" src="/images/evestTalk/Rein maila.png" id="heading-img" width="130px" />
          </div>


          <div class="social-icons-container">
            <a href="https://bit.ly/3E4yZpk">
              <img alt="mic image" src="/images/si1.svg" id="social-icons-img" />
            </a>
            <a href="https://apple.co/3WlPDIj
                    ">
              <img alt="mic image" src="/images/si2.svg" id="social-icons-img" />
            </a>
            <a href="https://spoti.fi/3sSX8c0">
              <img alt="mic image" src="/images/si3.svg" id="social-icons-img" />
            </a>
            <a href=" https://www.facebook.com/evestofficialar">
              <img alt="mic image" src="/images/si4.svg" id="social-icons-img" />
            </a>
            <a href="https://www.instagram.com/evest_official/
                    ">
              <img alt="mic image" src="/images/si5.svg" id="social-icons-img" />
            </a>
            <a href="https://twitter.com/EvestOfficial">
              <img alt="mic image" src="/images/si6.svg" id="social-icons-img" />
            </a>
            <a href="https://bit.ly/3DPh45X">
              <img alt="mic image" src="/images/si7.svg" id="social-icons-img" />
            </a>
          </div>

        </div>


        <div class="reinContainer">
          <!-- img of rien -->
          <img src="/images/evestTalk/reinMailaBg.png" />
        </div>

      </div>


    </div>


    <div class="micContainer">
      <img alt="mic image" src="/images/mic.svg" id="mic-img" />
    </div>
  </div>


  <div class="sectionDivider"></div>

  <div class="allPageContentContainer">

    <div class="section2Container">
      <h1>What is evest talk?</h1>
      <p>Rein Maila hosts a podcast titled Evest Talk. Rein speaks with and interviews pioneers and thought leaders in
        investment-related sectors about topics ranging from conventional investments to unusual ideas in meta worlds.
      </p>
    </div>

    <div class="separatorHolder">

      <div class="seperatorEvest">
        <h5>Now Playing - Season 2</h5>
      </div>

    </div>


    <div class="contentContainer">


      <% for(var i=0; i < page.fields.ep2.length; i++) { %>

        <%if (page.fields.ep2[i].section) { %>

          <%- page.fields.ep2[i].section %>

            <% } %>

              <% } %>





    </div>

    <div class="separatorHolder">

      <div class="seperatorEvest">
        <h5>Season 1</h5>
      </div>

    </div>


    <div class="contentContainer">

      <!-- Duplicate this dev in CMS -->

      <!-- <div class="contentRow">
        <div class="contentRowVideo">
          <video width="100%" controls=""
            src="https://mohanadalwadiyaevest.s3.eu-central-1.amazonaws.com/evesttalkepisode1/%D8%B1%D9%8A%D9%86+%D8%A7%D9%84%D9%85%D9%8A%D9%84%D8%B9+%D9%85%D9%82%D8%AF%D9%85%D8%A9+%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC+Evest+Talk.mp4"
            type="video/mp4"></video>
        </div>
        <div class="contentRowText">

          <div class="cardText">
            <h3 class="cardName">Hala Bassam</h3>
            <p class="host-title">Media Figure</p>
            <p class="host-specialization regularFont">Specialized in Hi-Tech and innovation</p>
            <h4 class="cardInfo ">How have new media, content universe, and social media adapted to the digital economy?
            </h4>
            <p class="sharingTime regularFont">Thursday, November 10, 2022</p>
          </div>

          <div class="cardImage">
            <img src="https://cdn.buttercms.com/dpcoCIbZTsiKFTTSBiBT" />
          </div>

        </div>
      </div> -->




      <% for(var i=0; i < page.fields.content.length; i++) { %>

        <%if (page.fields.content[i].section) { %>

          <%- page.fields.content[i].section %>

            <% } %>

              <% } %>







    </div>

    <div class="question-para-link-container">
      <h1>
        Would you like us to discuss a certain topic?
      </h1>
      <p>
        Click on the link button below to tell us about the topic you want us to discuss next - You’ll never know, you
        might be our guest
      </p>
      <button type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
        Share Your Thoughts
      </button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Share your thoughts</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/sendEvestTalk" method="POST" id="evest-form">
              <div class="form-group">
                <div class="form-element" id="two-labels">
                  <label>First Name</label>
                  <input type="text" required placeholder="First Name" name="firstName" />
                </div>
                <div class="form-element" id="two-labels">
                  <label>Last Name</label>
                  <input type="text" required placeholder="Last Name" name="lastName" />
                </div>
              </div>
              <div class="form-group">
                <div class="form-element" id="two-labels">
                  <label>Email Address</label>
                  <input type="email" required placeholder="youremail@mail.com" name="email" />
                </div>
                <div class="form-element form-group" id="two-labels">
                  <label>Phone</label>
                  <input type="tel" required placeholder="0123456789" name="phonenumber" />
                </div>
              </div>
              <div>
                <label>Occupation</label>
                <input type="text" required name="job" style="width: 100%;" />

              </div>
              <div>
                <div class="textareaContainer">
                  <label>Share your ideas here</label>
                  <textarea required name="message"> </textarea>
                </div>
              </div>


              <div class="submitBtnContainer">
                <button type="submit" value="submit" class="submit-btn g-recaptcha" id="submit-btn"
                  data-sitekey="6LdUQIsjAAAAAE2aW1EKmDFpixjfoU1eGcJlidsH" data-callback="onSubmit">
                  Submit
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<script type="module">

  let isMobile,
    mobileSrc = '<%- JSON.stringify(page.fields.coming_soon_src_mobile) %>',
    desktopSrc = '<%- JSON.stringify(page.fields.coming_soon_src_desktop) %>'

  $(document).ready(function () {
    let arr = $('.contentRowVideo video')
    for (let i = 0; i < arr.length; i++) {
      arr.css("height", "auto");
    }

    let number_coming_soon_Slides = '<%- JSON.stringify(page.fields.coming_soon_number) %>'

    isMobile = window.innerWidth <= 1078 ? true : false;

    if (isMobile)
      appentComingSoonSlides(mobileSrc, 330, number_coming_soon_Slides)
    else
      appentComingSoonSlides(desktopSrc, 1000, number_coming_soon_Slides)

  });

  function appentComingSoonSlides(src, width, number_coming_soon_Slides) {
    let pageContent = $('.contentContainer')[0];

    for (let i = 0; i < number_coming_soon_Slides; i++) {
      let slideContainer = document.createElement('div')

      let slide = document.createElement('img')

      slide.setAttribute('src', src.replace('"', ''))
      slide.setAttribute('width', `${width}px`)
      slideContainer.setAttribute('style', `margin-bottom:20px`)

      slideContainer.appendChild(slide)

      pageContent.appendChild(slideContainer)
    }
  }
</script>