<style>@import '/css/whyEvest.min.css';</style>

<div class="mobile-img">
<div class="container" style="background-image: url('/images/WHY EVEST mobile-02.png');height:700px;background-size: cover;flex-direction: column;padding-left: 8%;">
    <div class="text-uppercase heading" style="color:var(--primary-color3);font-size: 23px;padding-top: 100%;">
        <%- page.fields.header.heading %> 
    </div>
    <div class="text-uppercase subheading" style="color:var(--primary-color3);font-size: 13px;">
        <%- page.fields.header.subheading %>
    </div>
        
        <a type="submit" class="text-uppercase btn btncol" href="/mobile/#/signup" style="
    font-size: 12px;
">Register now</a>
</div>

<div class="row my-4">
    <div class="container">
       <%- page.fields.mobile_view[0].fields.content %>
    </div>
</div>
<div class="row py-4" style="background: url('/images/WHY EVEST mobile-06.png');background-size: cover;color:white;">
    <div class="container">
        <%- page.fields.mobile_view[1].fields.content %>
    </div>
</div>
<div class="row my-4">
    <div class="container">
        <%- page.fields.mobile_view[2].fields.content %>
    </div>
</div>
<div class="row py-4"  style="background: url('/images/WHY EVEST mobile-05.png');background-size: cover;color:white;">
<div class="container">
    <%- page.fields.mobile_view[3].fields.content %>
</div>
</div>
<div class="row my-4">
    <div class="container">
        <%- page.fields.mobile_view[4].fields.content %>
    </div>
</div>
<div class="row py-4"  style="background: url('/images/WHY EVEST mobile-04.png');background-size: cover;color:white;">
    <div class="container">
        <%- page.fields.mobile_view[5].fields.content %>
    </div>

</div>
<div class="row my-4">
    <div class="container" style="
    display: flex;
    flex-direction: column;
    align-items: baseline;
    ">
        <%- page.fields.mobile_view[6].fields.content %>
    </div>
</div>
</div>



<div class="desktop-img">
    <div class="row" style="background:url('/images/webp/why evest BG-05.webp');background-size: contain;">
        <div class="container flex-column desktop-img" style="background: url('/images/WHY EVEST-02.png');background-size: contain;height: 500px;padding-top: 3%;">
            <div class="text-uppercase" style="color:var(--primary-color3);">
                <%- page.fields.header.heading %>
            </div>
            <div class="text-uppercase" style="color:var(--primary-color3);">
                <%- page.fields.header.subheading %>
            </div>
 
                <button type="submit" class="text-uppercase btn btncol" onclick="runPlugin('forexSignup');">Register now</a>
        </div>
    </div>
    <div class="container flex-column" style="height: 500px;display: flex;justify-content: center;">
    <%- page.fields.sections.section1 %>
    </div>
    <div class="row" style="background:url('/images/0 commission-08.jpg');background-size: contain;height: 500px;">
        <div class="container flex-column" style="display: flex;justify-content: center; color:white">
            <%- page.fields.sections.section2 %>
        </div>
    </div>
    <div class="container">
        <%- page.fields.sections.section3 %>
    </div>
    <div class="row" style="background: url('/images/MT5 EN-02.gif');height: 530px;background-size: contain;color:white;">
        <div class="container" >
                <%- page.fields.sections.section4 %>

        </div>
    </div>
</div>
