
<div class="container-fluid account-types">
<div class="row" style="background:url('/images/webp/trading account type-b.webp');background-size: contain;">
        <div class="container desktop-img">
        <div class="container headerImg" style="background: url('/images/Website-images-Trading-Account-Type.png');height: 550px;background-size: cover;">
            <%- page.fields.header.heading %> 
            <%- page.fields.header.subheading %> 
        </div>
    </div>
</div>

    <div class="container mobile-img" style="background:url('/images/Header.png');height:700px;background-size: cover;">
        <%- page.fields.header.heading %>
        <%- page.fields.mobile_view[0].fields.content %> 
    </div>

<div class="row">
    <%- page.fields.sections.section1 %> 
</div>
<div class="row">
    <div class="container">
        <p class="ml-2" style="color:var(--primary-color1);">*This service is provided by third parties and should not be considered as a trading/investment advice</p>
    </div>
</div>
</div>
<style>
    @import "/css/accounTypes.min.css";
</style>