<div class="desktop-img">
    <div class="row" style="background:url('/images/Crypto web page En-13.png');height:500px;background-size:cover;color:white">
        <%- page.fields.header.heading %> 
    </div>
    <div class="row py-4">
        <%- page.fields.sections.section1 %> 
    </div>
    <div class="row pt-4" style="background:url('/images/Crypto web page En-12.png');color:white;background-size: cover;">
        <!-- <%- page.fields.sections.section2 %> -->
        <div class="container">
            <div class="container">
            <h4 class="text-uppercase text-center">The most important cryptocurrencies that can be<br />traded on the EVEST platform</h4>
            </div>
            <div class="container" style="display: flex;">
            <div class="col-md-4">
            <div><img src="/images/Crypto web page En-02.png" alt="bitcoin" width="80%" />
            <p>A decentralized digital currency, <a href="https://www.evest.com/trade-room/?asset=BTCUSD&amp;utm_source=evest_ar&amp;utm_medium=inner_article_bl&amp;utm_campaign=crypto#/" title="Bitcoin" rel="follow">Bitcoin</a> is the world's first by market capitalization and may be transferred between users on the Bitcoin network without the use of intermediaries.</p>
            </div>
            <div><img src="/images/Crypto web page En-05.png" alt="Ethereum" width="80%" />
            <p>In terms of market valuation, Ether is the second-largest cryptocurrency in the world, after Bitcoin.</p>
            </div>
            <div><img src="/images/Crypto web page En-08.png" alt="Cardano" width="80%" />
            <p>Cardano is a virtual currency for positive global changemakers, innovators, and visionaries.</p>
            </div>
            </div>
            <div class="col-md-4">
            <div><img src="/images/Crypto web page En-03.png" alt="DASHCOIN" width="80%" />
            <p>A digital currency that allows for quick and inexpensive payments anywhere in the world. It seeks to provide ease of use and privacy while also criticizing.</p>
            </div>
            <div><img src="/images/Crypto web page En-06.png" alt="litecoin" width="80%" />
            <p>One of the early Bitcoin releases. Technically, <a href="https://www.evest.com/trade-room/?asset=LTCUSD&amp;utm_source=evest_ar&amp;utm_medium=inner_article_bl&amp;utm_campaign=crypto#/" title="Litecoin" rel="follow">Litecoin</a> is almost identical to Bitcoin</p>
            </div>
            <div><img src="/images/Crypto web page En-09.png" alt="Yuan Chain Coin" width="100%" />
            <p>Yuan Chain is a cryptocurrency that operates on the Ethereum blockchain. The Yuan Chain has a current supply of 10 billion units.</p>
            </div>
            </div>
            <div class="col-md-4">
            <div><img src="/images/Crypto web page En-04.png" alt="Ether Classic" width="80%" />
            <p>A blockchain-based computer currency with smart contract functionality that is open source.</p>
            </div>
            <div><img src="/images/Crypto web page En-07.png" alt="Ripple" width="80%" />
            <p>A real-time settlement system, currency exchange and remittance network created by Ripple Labs, a US-based technology company.</p>
            </div>
            <div><img src="/images/Crypto web page En-10.png" alt="SHIBA" width="80%" />
            <p>A decentralized cryptocurrency created in August 2020 by an unknown person or group known as "Ryoshi" that is favored by some celebrities.</p>
            </div>
            </div>
            </div>
            </div>
    </div>
</div>

<div class="mobile-img">
    <div class="container" style="background-image: url('/images/Crypto En-Mobile-02.png');height:650px;color:white;background-size: cover;padding-top: 90%;">
        <%- page.fields.mobile_view[0].fields.content %>
    </div>
    <div class="row py-4">
        <%- page.fields.mobile_view[1].fields.content %>
    </div>
    <div class="row pt-4" style="background:url('/images/Crypto web page En-12.png');color:white;background-size: cover;">
        <%- page.fields.mobile_view[2].fields.content %>
    </div>
</div>

<style>
    body > main > div > div > div > div:nth-child(1) > ul>li,
    .mobile-img>.container>ul>li {
        color:white !important;
    }
    ul > li{
        color:var(--primary-color1) !important;
    }
    .c1{
        font-size: 10px;
    }
    .col-md-4 > div{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 400px;
    }
    .col-md-4 > div > p{
        height:200px;
    }
    .coinsMobile{
        display: flex;
    height: 400px;
    align-items: baseline;
    justify-content: center;
    }
    .coinsMobile > .col-md-6{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .coinsMobile > .col-md-6 > p{
        text-align:justify;
        height:150px;
        width:150px;
    }
</style>