<div class="container-fluid mobile-img" style="background: url('/images/Deposit-_-Withdrawal.png');height: 800px;background-size: cover;padding-left: 0;padding-right: 0;">
  <%- page.fields.header.heading %> 
</div>


<div>
  <div class="row desktop-img" style="background: url('/images/webp/Deposit _ Withdrawals-02.webp');background-size: cover;height: 500px;">
    <div class="container" style="display:flex;justify-content: center;align-items: center;">
      <div class="col-md-6">
        <%- page.fields.header.heading %> 
      </div>
      <div class="col-md-6"> <img src="/images/webp/credit-cards copy.webp" alt="cards" style="width:100%"></div>

    </div>
  </div>


  <div class="row">
      <div class="container section2 my-5">

        <%- page.fields.sections.section1 %> 
      </div>
</div>

  <div class="row section3">
    <div class="container section3">
      <%- page.fields.sections.section2 %>
    </div>
  </div>
  <div class="row">
    <div class="container section2 my-5">
      <%- page.fields.sections.section3 %>
    </div>
  </div>
  <div class="row section3">
    <div class="container section3">
      <%- page.fields.sections.section4 %>
    </div>
  </div>




</div>

<style>
  @import "/css/deposit.min.css";
</style>
