<div>
  <div class="desktop-img row" style="background: url('/images/webp/bluBack.webp');background-size: cover;height: 500px;display: flex;justify-content: center;align-items: center;">
    <div class="container" style="display: flex;justify-content: center;align-items: center;">
      <div class="col-md-8 text-white">    
        <%- page.fields.header.heading %>
        <%- page.fields.header.subheading %>  
      </div>
      <div class="col-md-4">
        <img src="/images/webp/Documents _ policies 1.webp" alt="documents" style="width: 100%">
      </div>
    </div>
  </div>
  <div class="container mobile-img" style="background: url('/images/build/documents-_-policies_Folder-Header.png');height: 800px;background-size: cover;">
    <%- page.fields.header.heading %>
    <%- page.fields.header.subheading %>  
  </div>
<div class="container">
<%- page.fields.sections.section1  %> 
  
</div>

<style>
  @import "/css/doc.min.css";
</style>


