<div class="container-fluid mobile-img" style="background: url('/images/Deposit-_-Withdrawal.png');height: 700px;background-size: cover;padding-left: 0;padding-right: 0;color:white;">
  <%- page.fields.header.heading %>
</div>

<div class="">

  <div class="row desktop-img" style="background: url('/images/webp/Deposit _ Withdrawals-02.webp');background-size: cover;height: 500px;">
    <div class="container" style="display: flex;align-items: center;justify-content: center;">
    <div class="col-md-6"><img src="/images/webp/credit-cards copy.webp" alt="cards" style="width:100%"></div>
    <div class="col-md-6 text-white">   <%- page.fields.header.heading %> </div>
  </div>
  </div>

<div class="row">
  <%- page.fields.sections.section1 %>
</div>

<div class="row" style="background: var(--primary-color1);">
  <%- page.fields.sections.section2 %>
</div>

<div class="row">
  <%- page.fields.sections.section3 %>
</div>

<div class="row" style="background: var(--primary-color1);">
  <%- page.fields.sections.section4 %>
</div>

</div>

<style>
  @import "/css/arabicDeposit.min.css";
</style>
