<div class="mobile-img">
<div class="container" style="background: url('/images/Islamic Accounts Mobile-02.png');height: 760px;background-size: cover;color:white;display:flex;flex-direction: column;align-items: baseline;justify-content: center;">
    <%- page.fields.mobile_view[0].fields.content %>  
</div>
<div class="container" style="display: flex;align-items: flex-start;flex-direction: column; padding: 38px 0;">
    <%- page.fields.mobile_view[1].fields.content %> 
</div>
<div class="container" style="background: url('/images/Islamic Accounts-07.jpg');background-size: cover;color:white;padding-top: 6%;padding-left: 8%;">
    <%- page.fields.mobile_view[2].fields.content %>
</div>
<div class="container">
    <%- page.fields.mobile_view[3].fields.content %>
</div>           
</div>


<div class="desktop-img">
    <div class="row" style="background-image: url('/images/webp/Islamic Accounts-01.webp');background-size: cover;">
        <div class="container" style="height: 530px;color:white;display:flex;align-items:center;">
        <div class="col-md-6"><img src="/images/webp/GoldDinar.webp" alt="Dinar" width="100%"></div>
        <div class="col-md-6">
            <%- page.fields.header.heading %>
            <%- page.fields.header.subheading %> 
        </div>
    </div>
    </div>


    <div class="container" style="display: flex; align-items: flex-start; padding: 73px 40px;">
        <%- page.fields.sections.section1 %> 
    </div>

    <div class="row"  style="background: url('/images/webp/greenBack.webp');background-size: cover;padding-top: 3%;padding-bottom: 3%;">
            <%- page.fields.sections.section2 %> 
    </div>



    <div class="container">
        <%- page.fields.sections.section3 %> 
    </div>
</div>
<style>
    @import "/css/islamicArabic.min.css";
</style>