<div class="mobile-img">
    <div class="container" style="background:url('/images/ZeroMobileHeader.png');height:700px;background-size: cover;">
        <h1 class="text-uppercase text-white" style="font-size: 25px;padding-top: 100%;">تداول الأسهم<br> بـ<span> 0%</span> عمولة</h1>
        <h4 class="text-uppercase" style="font-size: 12px;color:var(--primary-color3);padding-top: 1%;padding-bottom: 1%;">تداول أكثر من <span>300</span>  من الأسهم <br> الأكثر  
            شهرة في العالم</h4>
        <ul class="list-unstyled" style="padding-right:0;">
            <li><i class="fas fa-circle"></i> <span>0%</span> عمولة على تداول الأسهم</li>
            <li><i class="fas fa-circle"></i> <span>0%</span> رسوم لعرض الأسعار </li>
            <li><i class="fas fa-circle"></i> <span>0%</span>  رسوم على أدوات التداول المتقدمة </li>
            <li><i class="fas fa-circle"></i> <span>0%</span> رسوم على الإيداعات</li>
            <li><i class="fas fa-circle"></i> <span>0%</span> رسوم على تعليم التداول</li>
        </ul>
        <button class="btn btn-pr" onclick="window.location.replace('/mobile/#/signup')"> ابدأ التداول</button>
    </div>
    <div class="container text-center pt-5">
        <h1 class="text-uppercase" style="color:#4e0979;font-weight:bold;font-size: 23px;">ابدأ تداول أسهم الشّركات العالمية الواعدة</h1>
        <p style="font-size: 13px;">يمكنك الآن المشاركة في عالم الشركات عندما تختار أن تداول أسهم الشركات الرائدة في العالم بعمولة <span>0%</span></p>
        <h3 class="text-uppercase" style="color:#4e0979;font-weight:bold;font-size: 18px;">تعمق أكثر في عالم الاستثمار بعمولة <span>0%</span></h3>
        <h6 class="pt-3" style="text-align: center;"><strong>المصطلح لا يحتاج إلى تفسير فهو يفسر نفسه ذاتياً.</strong></h6>
        <p style="font-size: 12px;">هذا يعني ببساطة أنه يمكنك المشاركة في عالم تداول أسهم<br>
             الشركات المساهمة العامة دون أن تكون ملزماً بدفع رسوم<br>
              الوساطة أو علاوات أو رسوم المعاملات الورقية. الأهم من ذلك،<br> عدم وجود رسوم أي خفية.
            <br><br>
            شركات الوساطة الأخرى لا تقدم لك ما نقدّمه نحن.<br><br>
    
            تتقاضى شركات الوساطة الأخرى الرسوم الإدارية أو رسوم التوكيل<br>
            على الأقل. في إيڤست نتحمل كافة التكاليف ذات العلاقة<br>
             بالاستثمارات مثل الضرائب ورسوم العملية الاستثمارية.
        </p>
    </div>
    <div class="container" style="background: url('/images/0 commission-07.jpg');height: 348px;background-size: cover;color:var(--primary-color3);">
        <h2 class="text-uppercase text-center" style="padding-top: 8%;font-size: 20px; ">كيف تبدأ التداول في عالم  <br><span>0%</span> عمولة ؟</h2>
        <div class="container" style="padding-top: 0px;">
            <img src="/images/zeroMobileAr.png" alt="icon1" style="width: 110%;margin-top: -6%;">
        </div>
    </div>
    <div class="container" style="height: 320px;padding: 32px 23px;">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-uppercase bold" style="font-size: 20px;">
                    الامتيازات التي ستحصل
                    عليها من <br> تداول 
                    الأسهم بـ <span>0%</span> عمولة 
                </h1>
            </div>
            <div class="col-md-6"> <ul class="list-unstyled">
                <li><i class="fas fa-circle"></i> حجم التداول مقيد بنسبة <span>100%</span> بقدراتك المالية</li>
                <li><i class="fas fa-circle"></i> رسوم بنسبة <span>0%</span> مقابل أشياء لست مضطر للدفع عليها</li>
                <li><i class="fas fa-circle"></i> أنت تحقق الإمكانات الكاملة لتداولك</li>
                <li><i class="fas fa-circle"></i> <span>100%</span> تعليم مجاني</li>
            </ul>
            <h6><strong>هل أنت جاهز للبدء الآن؟ هذا هو وقت اتخاذ القرار!</strong></h6><h6 class="text-center mt-4">
            <button class="btn btn-filled" onclick="runPlugin('forexSignup')">أنشئ حساب مجاني</button>
    </h6></div>
        </div>
    </div>
    <div class="container text-right" style="background:url('/images/0 commission-08.jpg');background-size: cover;color:white;align-items: baseline;/* padding: 14px 34px; */padding-top: 10%;padding-bottom: 6%;padding-right: 7%;">
        <h1 class="text-uppercase" style="font-size: 16px;text-align: center;padding-right: 3%;padding-bottom: 6%;">الأسئلة الأكثر شيوعاً حول عمولة الأسهم  <span>0%</span></h1>       
        <h6 class="q"><span>1</span> س  &#160; ما هي الأسهم التي يمكن تداولها بعمولة <span>0%</span>؟</h6>
        <h6>&#160;&#160;&#160;&#160;&#160;جميع الأسهم المتاحة على منصتنا.</h6>
        <h6 class="q"><span>2</span> س   &#160; من هو المؤهل لتداول الأسهم <span>0%</span>؟</h6>
        <h6>&#160;&#160;&#160;&#160;&#160;جميع مستخدمي منصتنا مؤهلون لتداول الأسهم بعمولة &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>0%</span>.</h6>
        <h6 class="q"><span>3</span>  س  &#160; هل ستصبح حقًا مالكًا للسهم؟</h6>
        <h6>&#160;&#160;&#160;&#160;&#160;يمنحك تداول العقود مقابل الفروقات جميع امتيازات الاحتفاظ  <br>
            &#160;&#160;&#160;&#160;&#160;بالسهم مطروحاً منه الملكية الفعلية له.</h6>
            <h6 class="q"><span>4</span> س   &#160;  ما هو الحد الأقصى لعدد الصفقات التي يمكن إجراؤها<br>&#160;&#160;&#160;&#160;&#160;في الأسهم بنسبة <span>0%</span>؟</h6>
            <h6>&#160;&#160;&#160;&#160;&#160;يرجى مراجعة الشروط والأحكام</h6>
            <h6 class="q"><span>5</span> س   &#160; هل هناك حد زمني على المدة التي يمكنني خلالها الاحتفاظ <br>&#160;&#160;&#160;&#160;&#160;بالتداول عند <span>0%</span>؟</h6>
            <h6>&#160;&#160;&#160;&#160;&#160;إن المدة التي تريد أن تبقي فيها تداولاتك مفتوحة متروك لك.
                <br>&#160;&#160;&#160;&#160;&#160;حان الوقت لاتخاذ القرار- هل أنت مستعد للتداول بعمولة <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>0%</span>؟</h6>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-filled" style="margin-right: 35%;" onclick="runPlugin('forexSignup')">تداول الآن</button>
    </div>
</div>

<div class="desktop-img">
    <div class="row" style="background: url('/images/webp/Contact Us En BG-02.webp');background-size: cover;">
        <div class="container" style="color:white;">
            <div class="col-md-6">
                <img src="/images/webp/stockss.webp" alt="stocks" width="100%">
            </div>

            <div class="col-md-6">        
                <%- page.fields.header.heading %>
                <%- page.fields.header.subheading %>
            </div>
        </div>
    </div>



<div class="container text-right my-5">
    <%- page.fields.sections.section1 %> 
</div>

<div class="row" style="background: url('/images/0 commission-07.jpg');height: 530px;background-size: cover;color:var(--primary-color3);">
    <%- page.fields.sections.section2 %> 
</div>


<div class="row" style="background-image: url('/images/webp/greenBack.webp');height:500px;background-size: cover;align-items: center;">
    <%- page.fields.sections.section3 %>
</div>

<div class="container text-center mt-5 mb-2" >
    <%- page.fields.sections.section4 %>
</div>

</div>
<style>
    @import "/css/zeroArabic.min.css";
</style>