<div class="mobile-img">
    <div class="container" style="background: url('/images/TRADING APP Mobile_header.png');height:750px;background-size: cover;color: white;padding-top: 115%;padding-right: 9%;">
        <%-page.fields.mobile_view[0].fields.content %>
    </div>
    <div class="container text-center my-5">
        <%-page.fields.mobile_view[1].fields.content %>
    </div>
    <div class="container" style="background:url('/images/TRADING APP Mobile_BG.png');background-size: cover;color:var(--primary-color3);display: flex;align-items: center;padding-right: 10%;justify-content: center;padding-top: 97%;">
        <%-page.fields.mobile_view[2].fields.content %>
    </div>
    <div class="container" style="display: flex;flex-direction:column-reverse;">
        <%-page.fields.mobile_view[3].fields.content %>
    </div>
    <div class="container" style="display: flex;flex-direction: column;background:url('/images/TRADING APP Mobile_BG2.png');background-size: cover;color:var(--primary-color3);justify-content: space-around;">
        <%-page.fields.mobile_view[4].fields.content %>
    </div>
    <div class="container" style="display: flex;flex-direction:column-reverse;">
        <%-page.fields.mobile_view[5].fields.content %>
    </div>
    <div class="container" style="display: flex;flex-direction:column;background:url('/images/TRADING APP Mobile_BG2.png');background-size: cover;color:var(--primary-color3);justify-content: space-around;" s="">
        <%-page.fields.mobile_view[6].fields.content %>
    </div>
</div>



<div class="desktop-img">
    <div class="row" style="background: url('/images/webp/MTS-SPA-Artboard 29.webp');background-size: cover;height: 500px;">
        <div class="container" style="display:flex;align-items:center;color:white">
            <div class="col-md-6">
                <%- page.fields.header.heading %>
                <%- page.fields.header.subheading %>

                <img src="/images/TRADING APP-icons.png" alt="iconsDownload" style="width: 75%;margin-right: -8%;">
            </div>
            <div class="col-md-6">
                <img src="/images/webp/phone 2.webp" alt="appPhones" width="100%">
            </div>
        </div>
    </div>

    <div class="container text-center">
        <%- page.fields.sections.section1 %> 
    </div>
    <div class="row" style="background:url('/images/webp/0 commission-07.webp');background-size: cover;height: 100%; flex-direction: column;display:flex;padding-bottom: 5%;">
        <%- page.fields.sections.section2 %>
    </div>

    <div class="row" style="background: url('/images/webp/greenBack.webp');background-size: cover;height: 500px;">
        <%- page.fields.sections.section3 %>
    </div>

</div>
<style>
    @import "/css/appArabic.min.css";
</style>

