<style>
  @import url("/css/webTradeArabic.min.css");
</style>

<div class="row" style="background:url('/images/webp/0 commission-07.webp');background-size: contain;">
  <div class="container r1 desktop-img" style="background: url('/images/Section 1-Web Trading.jpg');background-size: cover;height: 500px; display: flex;">
    <div class="col-lg-6" style="padding-right: 6%">
      <%- page.fields.header.heading %>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
</div>



<div class="container mobile-img" style="background-image: url('/images/WebTraderHeader.png');height:700px;background-size: cover;flex-direction: column;">
  <%- page.fields.mobile_view[0].fields.content %> 
</div>
<div class="container py-5" style="display: flex;">
  <%- page.fields.sections.section1 %> 
</div>

<div class="container desktop-img" style="background: url('/images/WEB TRADER-Ar-03.jpg');height: 500px;background-size: cover; ">
  <%- page.fields.sections.section2 %>
</div>

 <div class="container mobile-img" style="background-image: url('/images/webTraderM2.png');height:800px;background-size: cover;flex-direction: column;justify-content: space-evenly;align-items: center;padding-right:0;padding-left:0;">
  <%- page.fields.mobile_view[1].fields.content %>
</div>

<div class="container" style="padding:60px;">
  <%- page.fields.sections.section3 %>
</div>


<div class="container desktop-img" style="background:url('/images/WEB TRADER-Ar-04.jpg');background-size: cover;height: 500px;">
  <%- page.fields.sections.section4 %>
</div>

<div class="container mobile-img" style="background-image: url('/images/webTraderM1.png');height:700px;background-size: cover;flex-direction: column;justify-content: center;align-items: flex-start;padding-right: 11%;padding-top: 77%;">
  <%- page.fields.mobile_view[2].fields.content %>
</div>

